<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Add a review", new_restaurant_review_path(params[:id]) %>
  <br>
  <%= link_to "Back to restaurants", restaurants_path %>
<br>
  <%= button_to "Destroy this restaurant", @restaurant, method: :delete %>
</div>
<br>

<h2>All reviews</h2>
<div id="reviews">
  <% @restaurant.reviews.each do |review| %>
    <%= render "reviews/review", review: review %>
  <% end %>
</div>


<h2>Add a review</h2>
<%= render "reviews/form" %>
